{% extends "words/base.html" %}
{% block title %}Entries tagged with {{ tag }}{% endblock title %} 
{% block content %}
{% for entry in object_list %}
    <div class="blog-post">
    <h2 class="blog-post-title"><a class="article-title h2" href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h2>
    <p class="blog-post-meta">Posted {{ entry.published_on|date:"l, F dS Y @ G:i" }}</p>
    {% if entry.tags.slugs %}
    <p class="blog-post-meta">
        <a href="{% url 'tag-list' %}" class="tag-archive"><i class="fa fa-tags"></i></a>
        {% for tag in entry.tags.slugs %}
        <a href="{% url 'tag-archive' tag_slug=tag %}" class="tag-archive">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    {% endif %}
    {{ entry.text|safe }}
    </div><!-- /.blog-post -->
{% endfor %}
{% if is_paginated %}
    <ul class="pager">
      {% if page_obj.has_next %}
      <li class="previous">
        <a href="{% url 'paginated-entry-list' page=page_obj.next_page_number %}"><i class="fa fa-arrow-left"></i>&nbsp; Older</a>
      </li>
      {% endif %}
      {% if page_obj.has_previous %}
      <li class="next">
        <a href="{% url 'paginated-entry-list' page=page_obj.previous_page_number %}">Newer &nbsp;<i class="fa fa-arrow-right"></i></a>
      </li>
      {% endif %}
    </ul>
{% endif %}
{% endblock content %}