{% extends "words/base.html" %}
{% load static from staticfiles %}
{% block css %}
    {{ block.super }}
    <link href="{% static "words/css/main.css" %}" rel="stylesheet">
{% endblock css %}
{% block title %}Entries tagged with {{ tag }}{% endblock title %} 
{% block content %}
<div class="container primary-content">
    <div class="col-md-12">
        {% for entry in object_list %}
        <article class="listed-article">
            <header class="listed-article">
                <a class="article-title h2" href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>
                <span class="small publine">Posted {{ entry.published_on|date:"l, F dS Y @ G:i" }}</span>
                {% if entry.tags.slugs %}
                <span class="small article-tags">
                    <a href="{% url 'tag-list' %}" class="tag-archive"><i class="fa fa-tags"></i></a>
                    {% for tag in entry.tags.slugs %}
                        <a href="{% url 'tag-archive' tag_slug=tag %}" class="tag-archive">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </span>
                {% endif %}
            </header>
            {{ entry.text|safe }}
            <footer></footer>
        </article>
        {% endfor %}
    </div>
</div>
{% endblock content %}
