{% extends "words/base_blog.html" %}
{% load tz %}
{% timezone "America/Chicago" %}
{% load static from staticfiles %}
{% block css %}
	{{ block.super }}
	<link href="{% static "words/css/main.css" %}" rel="stylesheet">
{% endblock css %}
{% block title %}Tags{% endblock title %} 
{% block content %}
<div class="container primary-content">
    <div class="col-md-12">
        {% for tag in object_list %}
            <a href="{% url 'tag-archive' tag_slug=tag.slug %}">{{ tag.name }}<span class="badge">{{ tag.num_times }}</span></a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content %}
{% endtimezone %}
